.filterbar {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 12px;
  padding: 12px;
  background: var(--nav_BG);
  border-color: var(--Baggrundsfarve);
}

.filterbar-sort {
  height: 40px;
  border: 1px solid #bfc7bc;
  padding: 4px 16px 4px 8px;
  margin: 12px;
  font-size: 16px;
}

.filterbar-filters {
  height: 40px;
  border: 1px solid var(--Baggrundsfarve);
  padding: 4px;
  margin: 12px;
  font-size: 16px;
}
