.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--Tekstfarve);
}

.slider-container {
  background-color: var(--Tekstfarve);
  height: 70vh;
  width: 72vw;
  position: relative;
  overflow: hidden;
}

.slide,
.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
  opacity: 0;
  height: 70vh;
  width: 72vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  transition: 0.4 ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.slide1 {
  background-image: url("../assets/images/hero1.jpg");
}

.slide2 {
  background-image: url("../assets/images/hero2.jpg");
}

.slide3 {
  background-image: url("../assets/images/hero3.jpg");
}

.slide4 {
  background-image: url("../assets/images/hero4.jpg");
}

.slider-controls {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slider-button {
  background-color: transparent;
  font-size: 30px;
  border: transparent;
  z-index: 100;
  cursor: pointer;
}

.prev {
  font-size: 30px;
}

.prev-arrow {
  display: flex;
  justify-content: flex-start;
}

.next {
  font-size: 30px;
}

.next-arrow {
  display: flex;
  justify-content: flex-end;
}

.hero-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
  h5 {
    margin: 0%;
  }
}
